*{
    margin: 0px;

}
.heading{
    background-color: darkolivegreen;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choices{
    height: 150px;
    display: flex;
    padding-top:2rem ;
    justify-content: center;
    gap: 5rem;
}

.chosice{
    height: 7rem;
    width: 7rem;
}
/* .chosice img{
    width: 100px;
    transition: opacity 0.3s ease;
} */

.chosice img:hover{
    opacity: 0.5;
    cursor: pointer;
}
img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
     
}
img:hover{
    opacity: .5px;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
#you,#comp{
    height: 100px;
    width: 100px;
    font-size: 100px;
}
p{
    height: 50px;
    width: 50px;
    font-size: 30px;
}
#id{
    height: 70px;
    /* width: 200px; */
    font-size: 3rem;
    display: inline;
    background-color: aqua;
    padding-left: 10px;
    border-radius: 20px;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}